[submodule "canvasary_front"]
	path = canvasary_front
	url = https://github.com/canvasary/canvasary_front.git
[submodule "canvasary_back"]
	path = canvasary_back
	url = https://github.com/canvasary/canvasary_back.git
[submodule "canvasary_nginx"]
	path = canvasary_nginx
	url = https://github.com/Ryokuman/canvasary_nginx.git
